# 2026 2 37 0 0 # 26q2 sdk/api level 37.0 - Android 17 Cinnamon Bun QPR0

# The above line contains the following fields:
#   y - year (ie. 2026)
#   q - quarter (ie. 1, which means Q1)
#       (together this gives '2026q1' or '26Q1')
#   a - major Android sdk/api level (ie. 36)
#   b - minor Android sdk/api level (ie. 1)
#       (together this gives '36.1')
#   c - subrelease (ie. 1)
#       this goes up by 1 every quarter when major/minor sdk/api don't change
#
# Notes:
# - 25q3 (as visible below) has a buggy quarter (2 instead of 3)...
# - This is parsed in BpfUtils.h which ignores year/quarter:
#   get_api_level_full() returns 100a + 10b + 2c + 1u
#   where u means unreleased and is 1 if codename != 'REL'.
# - There's some extra sanity checking in NetBpfLoad.cpp,
#   which exists mostly to log this during bootup.
#
# Previous versions (for documentation)
# 2026 1 36 1 1 # 26q1 sdk/api level 36.1 - Android 16 QPR3
# 2025 4 36 1 0 # 25q4 sdk/api level 36.1 - Android 16 QPR2
# 2025 2 36 0 1 # 25q3 sdk/api level 36.0 - Android 16 QPR1
# 2025 2 36 0 0 # 25q2 sdk/api level 36.0 - Android 16 Baklava QPR0
# (versions before A16 do not include anything here)

# It is important that we start bpfloader after:
#   - /sys/fs/bpf is already mounted,
#   - apex (incl. rollback) is initialized (so that we can load bpf
#     programs shipped as part of apex mainline modules)
#   - logd is ready for us to log stuff
#
# At the same time we want to be as early as possible to reduce races and thus
# failures (before memory is fragmented, and cpu is busy running tons of other
# stuff) and we absolutely want to be before netd and the system boot slot is
# considered to have booted successfully.
on load-bpf-programs
    # Temporarily relax access to kallsyms so that bpfloader can resolve kernel symbols
    # at load time.
    #
    # NOTE: Still requires CAP_SYSLOG and sepolicy allow rules to read /proc/kallsyms
    write /proc/sys/kernel/kptr_restrict 1

    # 'exec_start' is synchronous, a successful bpfloader invocation will
    # result in 'bpf.progs_loaded' property being set to '1'.
    exec_start bpfloader

    # Wait for bpf programs to be loaded before proceeding.
    # (this will hang if bpfloader fails)
    wait_for_prop bpf.progs_loaded 1

    # Restore kallsyms protection after bpf programs have been loaded.
    # This has to happen after bpfloader has already terminated.
    write /proc/sys/kernel/kptr_restrict 2

    # At this point 'bpf.progs_loaded' is guaranteed to be '1'
    exec_start netd1shot
    start netd

# Note: This will actually execute /apex/com.android.tethering/bin/netbpfload
# by virtue of 'service bpfloader' being overridden by the apex shipped .rc
# Warning: the below settings are irrelevant unless the apex is missing.
service bpfloader /system/bin/false
    disabled # started on demand via trigger
    user root
    oneshot
    reboot_on_failure reboot,netbpfload-missing
    updatable
